spring:
  datasource:
    url: jdbc:h2:mem:airline-db
    driverClassName: org.h2.Driver
    username: sa
    password: password

  h2:
    console:
      enabled: true

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

  datasource.hikari.maximum-pool-size: 5

server:
  address: 0.0.0.0
  port: 8080
